body
{
	margin: 30px;
}
.phone-list
{
	padding-left: 0;
	list-style-type: none;
}
.phone-list-item
{
	border: 1px solid lightgray;
	padding: 10px;
}
.phone-list-item + .phone-list-item
{
	margin-top: 30px;
}
.phone-thumbnail
{
	width: 100%;
}
