<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/controllers.js"></script>
<body ng-app="myAngle">
	<div class="container-fluid">
		<div ng-controller="PhoneListCtl">
			<div class="row">
				<div class="col-md-2">
					<div>
						Search: <input ng-model="query">
					</div>
					<div>
						Sort by:
						<select ng-model="order">
							<option value="name">
								Alphabetical
							</option>
							<option value="age">
								Newest
							</option>
							<option value="-age">
								Oldest
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-10">
						<p>
							Phones found: {{ (phones |filter: query).length }}
							<span ng-if="query">
								(matching <b>{{query}}</b>)
							</span>
						</p>
						<ul class="phone-list">
							<li
								ng-repeat="phone in phones |filter:query |orderBy:order"
								class="phone-list-item row"
							>
								<div class="col-md-1">
									<a href="#/phones/{{phone.id}}">
										<img
											ng-src="{{phone.imageUrl}}"
											class="phone-thumbnail"
										>
									</a>
								</div>
								<div class="col-md-11">
									<p>
										<a href="#/phones/{{phone.id}}">
											{{phone.name}}
										</a>
									</p>
									<p>
										{{phone.description}}
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
