<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/controllers.js"></script>
<body ng-app="myAngle">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				Search: <input ng-model="query">
			</div>
			<div class="col-md-10">
				<div ng-controller="PhoneListCtl">
					<p>
						Phones found: {{ (phones | filter: query).length }}
						<span ng-if="query">
							(matching <b>{{query}}</b>)
						</span>
					</p>
					<ul>
						<li ng-repeat="phone in phones | filter: query">
							<p>
								{{phone.name}}
							</p>
							<p>
								{{phone.description}}
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
